h4 About

p.header Crouton is here to push the #[a(href="https://en.wikipedia.org/wiki/Internet_of_Things", target="_blank") Internet of Things] revolution.

p Crouton started as an idea to easily view and control home made IOT devices. Now it is a full fledge web application that is both flexible and customizable. Aimed towards both hardware enthusiasts and everyday users, Crouton is looking to grow and make IOT more accessible.

p We are on #[a(href="https://github.com/edfungus/Crouton", target="_blank") Github]!

p Created by #[a(href="https://twitter.com/edfungus", target="_blank") @edfungus]. Currently working at #[a(href="https://www.gesoftware.com/", target="_blank") GE Digital] making the Industrial Internet.

p Licensed under the GPLv2 or later. Copyrighted 2015 Edmund Fung
