h4 Documentation

p.header Getting Crouton and running from source

p Visit #[a(href="https://github.com/edfungus/Crouton", target="_blank") Github] to grab the latest code or clone by
div.contentBox
  code git clone https://github.com/edfungus/Crouton.git

p To run Crouton use npm to download all dependencies and run post install scripts
div.contentBox
  code npm install

p Crouton will no be at localhost:8080

p.header Connecting devices to Crouton

p how to connect device to client
p deviceJSON overview

p.header Configuring dashboard elements
p talk about control vs report.. etc
