p There are 3 necessary components to get this working...
p You will need three things: Crouton, mqtt broker and device

p We provide the first
p Here are free and paid version of the mqtt broker. We will have a paid version later blah blah

p You can add your own device! To get you started, here is a simulated device in python and here is code for esp8266 in lua
p To find out more on how to configure your own devices, check out the documention here.
