h4.center The front end for your Internet of Things devices.

div.grid.triBannerContainer
  div.grid__col.grid__col--1-of-3.triBanner
    div.triBannerInner
      p connect in your own hardware
  div.grid__col.grid__col--1-of-3.triBanner
    div.triBannerInner
      p manage your lights, outlets, or anything around the ouse
  div.grid__col.grid__col--1-of-3.triBanner
    div.triBannerInner
      p access securely from anywhere on the internet





h5.center Crouton makes IOT more accessible to end users and hardware enthusiasts alike!

p As a hardware enthusiast, I care focus on making my device knowing there is already a frontend that can control. Plus it is so simple to hook up!

p I made a really cool IOT device but I don't have a user friendly way to interact with it...

p This is a UI tool for interacting with ESP8266 IOT devices utilizing the MQTT protocol. The intentions are to use the ESP8266 as a hardware enabler for everyday items to become 'internet of things' enabled. Extending beyond that, it is possible to use the ESP8266s as a real-time device to device communication system that has the capability of being physically isolated.

p Each ESP8266 is called a 'crouton' in which they all communicate within a network called a 'salad'. The terms lettuce, tomato and dressing has not yet be taken.

p Bon Appetit! #[br] Edmund Fung

p See Github repository for more info: #[a(href="http://github.com/edfungus/crouton") github.com/edfungus/crouton]
h3 We #[i.fa.fa-heart-o] Crouton
