h4.center The front end for your DIY Internet of Things devices.
//h4.center Made an Internet of Things devices?

div.grid.triBannerContainer
  div.grid__col.grid__col--1-of-3.triBanner
    div.triBannerInner
      p.bannerPicture #[i.fa.fa-lightbulb-o]
      //p.sinkBottom Control lights, outlets, or devices around the house!
      p.sinkBottom Pre-made dashboard elements for plug and play!
  div.grid__col.grid__col--1-of-3.triBanner
    div.triBannerInner
      p.bannerPicture #[i.fa.fa-rocket]
      p.sinkBottom Connect your own hardware!
  div.grid__col.grid__col--1-of-3.triBanner
    div.triBannerInner
      p.bannerPicture #[i.fa.fa-globe]
      p.sinkBottom Access from anywhere on the internet!


h5.center Crouton makes IOT more accessible to end users and hardware enthusiasts alike!
