div.footer
  div.logoText Crouton
div.floatMiddle30
  div.logo
    div.logoBar.a
    div.logoBar.b
    div.logoBar.c
    div.logoBar.d
    div.logoBarCover.dropShadow
      i.fa.fa-cloud
  ul.navLinks
    li.primary Home
    li.accent Getting Started
    li.primary Dashboard
    li.primary Croutons
    li.primary Settings
    li.blank
    li.secondary Contact
    li.secondary Documentation
