div.footer
  div.logoText Crouton
div.floatMiddle30
  div.logo
    div.logoBar.a
    div.logoBar.b
    div.logoBar.c
    div.logoBar.d
    div.logoBarCover.dropShadow
      i.fa.fa-cloud
  ul.navLinks
    li(ng-click="changePage('home')" ng-class="{'active':location.path() == '/crouton/home'}").primary Home
    li(ng-click="changePage('gettingStarted')" ng-class="{'active':location.path() == '/crouton/gettingStarted'}").accent Getting Started
    li(ng-click="changePage('features')" ng-class="{'active':location.path() == '/crouton/features'}").primary Features
    li.primary Crouton App
    li.blank
    li(ng-click="changePage('about')" ng-class="{'active':location.path() == '/crouton/about'}").secondary About
    li(ng-click="changePage('documentation')" ng-class="{'active':location.path() == '/crouton/documentation'}").secondary Documentation
