div.footer
  div.logoText Crouton
div.floatMiddle30
  div.logo
    div.logoBar.a
    div.logoBar.b
    div.logoBar.c
    div.logoBar.d
    div.logoBarCover.dropShadow
      i.fa.fa-cloud
  ul.navLinks
    li(ng-click="changePage('home')").primary Home
    li(ng-click="changePage('gettingStarted')").accent Getting Started
    li(ng-click="changePage('features')").primary Features
    li.primary Demo
    li.blank
    li(ng-click="changePage('contact')").secondary Contact
    li(ng-click="changePage('documentation')").secondary Documentation
